<section class="sidebar-section">
    <nav class="nav" mx-data="nav">
        {% for page in pages %}
            {% if page.onSidebar %}
                <a mx-item="links" class="nav-item" href="{{page.path}}" ::title="title" title="{{page.title}}" mx-on:click.prevent="goToPage($item)">
                    <div class="nav-icon">
                        {% include page.svgIcon %}
                    </div>
                    <p>{{page.title}}</p>
                </a>
            {% endif %}
        {% endfor %}
    </nav>
</section>